include ../dropdown-menu-cars/_dropdown-menu-cars.pug

mixin dropdown-menu 
	-
		const menuItems = [
			{
				menuTitle: 'автомобили',
				cars: [
					{
						img: "image17",
						name: "RANGE ROVER",
						subTitle: "Истинный Range Rover",
						links: ['Обзор', 'Комплектации', 'Особенности', 'Специальные предложения', 'Конфигуратор', 'Корпоративные продажи', 'СЕРВИСНЫЙ ПАКЕТ', 'Тестовый подраздел', 'Галерея','Галерея с категориями', 'Характеристики', 'Галерея RANGE ROVER', 'Брошюра'],
						disclr: "[1]В 2018 году повторная спецификация характеристик двигателей еще не проводилась. Указанные данные соответствуют сертифицированным значениям NEDC (новый Европейский ездовой цикл) 2017 года. *В модификациях PHEV и при установке задних сидений повышенной комфортности объем багажного отделения уменьшается. Для получения более подробной информации обратитесь в официальный дилерский центр",
						price: "от 7 523 000",
					},
					{
						img: "image18",
						name: "RANGE ROVER SPORT",
						subTitle: "Самый динамичный и маневренный Land Rover",
						links: ['Обзор', 'Комплектации', 'Особенности', 'Специальные предложения', 'Конфигуратор', 'Корпоративные продажи', 'Галерея'],
						disclr: "В 2018 году повторная спецификация характеристик двигателей еще не проводилась. Указанные данные соответствуют сертифицированным значениям NEDC (новый Европейский ездовой цикл) 2017 года. *Сиденья третьего ряда подходят для подростков, которые могут воспользоваться ремнем безопасности для взрослых или дополнительной подушкой сиденья, позволяющей пристегнуться такими ремнями. Они не подходят для маленьких детей, которым требуется детское кресло, поскольку в таком случае ремень безопасности для взрослых не используется напрямую, чтобы удержать ребенка.Сиденья третьего ряда подходят для подростков, которые могут воспользоваться ремнем безопасности для взрослых или дополнительной подушкой сиденья, позволяющей пристегнуться такими ремнями. Они не подходят для маленьких детей, которым требуется детское кресло, поскольку в таком случае ремень безопасности для взрослых не используется напрямую, чтобы удержать ребенка. ",
						price: "от 5 387 000",
					},
					{
						img: "image20",
						name: "RANGE ROVER VELAR",
						subTitle: "Самый динамичный и маневренный Land Rover",
						links: ['обзор', 'Комплектации', 'Особенности', 'Технологии', 'Конфигуратор', 'Брошюра'],
						disclr: "В 2018 году повторная спецификация характеристик двигателей еще не проводилась. Указанные данные соответствуют сертифицированным значениям NEDC (новый Европейский ездовой цикл) 2017 года",
						price: "от 3 950 000",
					},
					{
						img: "image21",
						name: "НОВЫЙ RANGE ROVER EVOQUE",
						subTitle: "Время заявить о себе",
						links: ['обзор', 'Комплектации', 'Особенности', 'Конфигуратор', 'Брошюра'],
						disclr: "В 2018 году повторная спецификация характеристик двигателей еще не проводилась. Указанные данные соответствуют сертифицированным значениям NEDC (новый Европейский ездовой цикл) 2017 года",
						price: "от 2 975 000",
					},
					{
						img: "image22",
						name: "DISCOVERY",
						subTitle: "Впечатляющий дизайн нашего самого универсального внедорожника с непревзойденными возможностями",
						links: ['обзор', 'Комплектации', 'Особенности'],
						disclr: "В 2018 году повторная спецификация характеристик двигателей еще не проводилась. Указанные данные соответствуют сертифицированным значениям NEDC (новый Европейский ездовой цикл) 2017 года. Wet: объем определен путем моделирования заполнения багажного отделения жидкостью.",
						price: "от 4 008 000",
					},
					{
						img: "image23",
						name: "НОВЫЙ DISCOVERY SPORT",
						subTitle: "Универсальный компактный внедорожник, созданный для приключений",
						links: ['обзор', 'Комплектации', 'Особенности'],
						disclr: "В 2018 году повторная спецификация характеристик двигателей еще не проводилась. Указанные данные соответствуют сертифицированным значениям NEDC (новый Европейский ездовой цикл) 2017 года. Wet: объем определен путем моделирования заполнения багажного отделения жидкостью.",
						price: "от 2 860 000",
					},
					{
						img: "image52",
						name: "новый defender",
						subTitle: "Cпособен на многое",
						links: ['Обзор', 'Комплектации', 'Особенности', 'Специальные предложения', 'Конфигуратор', 'Корпоративные продажи', 'Галерея'],
					},
					{
						img: "image54",
						name: "специальные версии",
						subTitle: "Новый уровень роскоши, мощности и удовольствия от вождения для создания уникального автомобиля Land Rover.",
						links: ['Специальные предложения', 'Конфигуратор', 'Корпоративные продажи', 'Галерея'],
					},
				],
				iconsInfo: [
					{icon: 'fuel', title: "ОТ 5,4<sup>1</sup>"},
					{icon: 'co2', title: "ОТ 142<sup>2</sup> Г/КМ"},
					{icon: 'seat', title: '5 СИДЕНИЙ'},
					{icon: 'trunc', title: '834 Л ОБЪЕМ БАГАЖНИКА'},
				]
			},
			{
				menuTitle: 'Предложения',
				offers: [
					{
						"title": "Новые автомобили",
						"menuItems": [
							'Автомобили в наличии', 'Специальные предложения','Запись на тест-драйв', 'Пункт дилера', 'Пункт дилера', 'Пункт дилера',
						]
					},
					{
						"title": "Автомобили с пробегом",
						"menuItems": [
							'Обзор', 'Автомобили Approved в наличии','Автомобили с пробегом в наличии', 'Оценка авто', 'Пункт дилера', 'Пункт дилера',
						]
					},
					{
						"title": "Корпоративные продажи",
						"menuItems": [
							'Обзор', 'Специальные предложения','Пункт дилера', 'Пункт дилера', 'Пункт дилера', 'Пункт дилера',
						]
					},
					{
						"title": "Финансовые предложения",
						"menuItems": [
							'Обзор', 'Re-Start','Калькулятор кредита и лизинга', 'Пункт дилера', 'Пункт дилера', 'Пункт дилера',
						]
					},
					{
						"title": "Информация владельцам",
						"menuItems": [
							'Сервис', 'Аксессуары','Шины и диски', 'Рекомендованные работы', 'Пункт дилера', 'Пункт дилера',
						]
					},
					{
						"title": "Брендовая продукция",
						"menuItems": [
							'Lifestyle коллекция', 'Чехлы для планшетов и смартфонов', 'Велосипеды', 'Горные и беговые лыжи', 'Коллекционные модели', 'Специальные предложения',
						]
					},
				]
			},
			{
				menuTitle: 'Владельцам',
				owners: [
					{
						"title": "владельцам",
						"menuItems": [
							'Аксессуары', 'Программа лояльности','InControl', 'Диалоговая приемка и видеотчет',
						]
					},
					{
						"title": "сервис",
						"menuItems": [
							'Запись на сервис', 'Сервисный пакет','Калькулятор ТО', 'Электронная сервисная книжка', 'Периодичность технического обслуживания',
						]
					},
					{
						"title": "гарантия",
						"menuItems": [
							'Гарантия', 'Запасные части','Помощь на дорогах', 'Программа мобильности',
						]
					},
					{
						"title": "поддержка",
						"menuItems": [
							'Кузовной ремонт', 'Справочные материалы и руководства','Подключение к Bluetooth', 'Обновление навигации', 'Беспроводное обновление',
						]
					},
				],
				iconsOwners: [
					{icon: 'label', title: 'предложения по сервису'},
					{icon: 'package', title: 'сервисный пакет'},
					{icon: 'service', title: 'запись на сервис'},
					{icon: 'warning', title: 'помощь на дорогах'},
					{icon: 'bag', title: 'брендовая продукция'},
				]
			},
			{
				menuTitle: 'о нас',
				abouts: [
					{
						title: "контакты",
						img: "img27",
					},
					{
						title: "о компании",
						img: "img28",
					},
					{
						title: "Работа с клиентами",
						img: "img29",
					},
					{
						title: "Наша команда",
						img: "img30",
					},
					{
						title: "Вакансии",
						img: "img31",
					},
					{
						title: "партнеры",
						img: "img32",
					},
					{
						title: "новости",
						img: "img33",
					},
					{
						title: "пункт дилера",
						img: "img34",
					},
					{
						title: "пункт дилера",
						img: "img34",
					},
					{
						title: "пункт дилера",
						img: "img34",
					},
				]
			},
		]
	each menuItem, i in menuItems
		div.js-submenu(block="dropdown-menu" data-menu-lev-2=i)
			button.js-lev2-back-btn(elem="back-btn") #{menuItem.menuTitle}
			button.js-close-submenu-btn(elem="close-btn")
				+svg('cross')
			div(elem="dropdown-menu-items")
				if menuItem.cars
					ul(elem="list-cars")
						each car, i in menuItem.cars
							li(elem="car-item")
								a.js-menu-lev3(href="#" elem="link-wrap" data-menu-Lev3=i)
									img(elem="car-img" src=`img/resources/cars/${car.img}.jpg` srcset=`img/resources/cars/${car.img}_2x.jpg 2x` alt="")
									div(elem="item-info")
										p #{car.name}
										if car.price
											span #{car.price} <span>₽</span>
					+dropdown-menu-cars({
						cars: menuItem.cars,
						iconsInfo: menuItem.iconsInfo,
					})
				if menuItem.offers
					div(elem="list-wrap")
						.row.no-gutters
							each offer, i in menuItem.offers
								.col-xl-2
										h3.js-menu-lev3(elem="submenu-title" data-menu-lev3=i) #{offer.title}
										div(elem="menu-lev-3")
											div(elem="content" data-submenu-lev3=i)
												button.js-lev3-back-btn(elem="back-btn") #{offer.title}
												ul
													each item in offer.menuItems
														li
															a(href="#" elem="link-item") #{item}
				if menuItem.owners
					div(elem="list-wrap")
						.row.no-gutters
							each offer, i in menuItem.owners
								.col-xl-3
										h3.js-menu-lev3(elem="submenu-title" data-menu-lev3=i) #{offer.title}
										div(elem="menu-lev-3")
											div(elem="content" data-submenu-lev3=i)
												button.js-lev3-back-btn(elem="back-btn") #{offer.title}
												ul
													each item in offer.menuItems
														li
															a(href="#" elem="link-item") #{item}
					div(elem="offers-icons")
						.row.no-gutters.justify-content-xl-center
							each iconOwner in menuItem.iconsOwners
								.col-xl-2
									a(elem="icons-wrap" href="#")
										+svg(iconOwner.icon)(elem="offers-icon")
										p(elem="icon-title") #{iconOwner.title}
				if menuItem.abouts
					ul(elem="dropdown-list")
						each about in menuItem.abouts
							li(elem="thumb-item")
								a(href="#" elem="thumb-wrap")
									picture
										source(media="(min-width: 992px)" srcset=`img/resources/about/${about.img}_desktop.jpg`)
										img(elem="about-img" src=`img/resources/about/${about.img}.jpg` srcset=`img/resources/about/${about.img}_2x.jpg 2x` alt="")
									div(elem="about-info")
										p #{about.title}

